.UserMenu {
  display: flex;
  align-items: center;
}

.paragraph {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(14 / 13);
  text-align: right;
  letter-spacing: 0.04em;
  margin-right: 40px;
  color: #212121;

  @media screen and (min-width: 768px) {
    min-width: 122px;
  }
}

.paragraph::after {
  content: '';
  position: absolute;
  right: -20px;
  top: -17px;
  display: block;
  width: 0;
  height: 32px;
  border: 1px solid #e0e0e0;
}

.button {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(14 / 13);
  letter-spacing: 0.04em;
  text-align: left;
  width: 50px;
  color: #9b9faa;
  margin-right: 0;
  background-color: transparent;
  border-width: 0;
  margin-right: 50px;
}

.button:hover {
  cursor: pointer;
  color: #212121;
}
