.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: -180px;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}