.background {
  width: 980px;
  height: 850px;
  background-image: url('../../../images/background/background-desktop.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top;
  margin-left: -463px;
}
