.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
    align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 60px;
}

.input {
  border: none;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 8px;
  font-weight: 700;
  font-family: Verdana;
  outline: none;

  &:focus {
    color: #9b9faa;
    border-bottom: 1px solid #fc842d;
  }
}

.buttonAdd {
  border: none;
  padding: 13px 46px;
  width: 176px;
  background: #fc842d;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  border-radius: 30px;
  color: #fff;
  font-weight: 700;

  &:hover,
  &:focus {
    background: #fff;
    border: 1px solid #fc842d;
    color: #fc842d;
  }
}