.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    margin-top: 60px;
    margin-bottom: 60px;
    justify-content: flex-start;
    align-items: flex-end;
  }
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 60px;
  color: #9b9faa;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 22px;
    margin-bottom: 0;
    margin-right: 87px;
  }

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    gap: 48px;
    margin-right: 60px;
  }
}

.input {
  border: none;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 8px;
  font-weight: 700;
  font-family: Verdana;
  outline: none;

  &:focus {
    color: #9b9faa;
    border-bottom: 1px solid #fc842d;
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 20px;
    width: 240px;
  }
}

.input.grams {
  @media screen and (min-width: 768px) {
    text-align: right;
    width: 106px;
  }
}

.buttonPlus {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    border: none;
    border-radius: 50%;
    background-image: url(../../../images/addBtn.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 48px;
    width: 48px;
    background-color: #fc842d;
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
    cursor: pointer;
  }
}

.buttonAdd {
  border: none;
  padding: 13px 46px;
  width: 176px;
  background: #fc842d;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  border-radius: 30px;
  color: #fff;
  font-weight: 700;

  &:hover,
  &:focus {
    background: #fff;
    border: 1px solid #fc842d;
    color: #fc842d;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.searchArea {
  overflow: scroll;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50px;
  left: 0;
  width: 450px;
  height: 400px;
  background-color: #fc832d67;
  gap: 3px;
}

.btnAdd {
  background-color: #fa9f5e;
  display: block;
  border: none;
  width: 100%;
}
