.productsItem {
  display: flex;
  align-items: center;

  @media screen and (min-width: 450px) and (max-width: 767.9px) {
    gap: 20px;
  }
}

.wrapper {
  display: flex;
  gap: 8px;
  margin-left: 8px;
  margin-right: 17px;

  @media screen and (min-width: 768px) {
    gap: 46px;
    margin-left: 22px;
    margin-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    gap: 32px;
    margin-left: 48px;
  }
}

.title {
  width: 130px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 8px;

  @media screen and (min-width: 768px) {
    width: 240px;
    padding-bottom: 20px;
  }
}

.weight {
  width: 49px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 8px;

  @media screen and (min-width: 768px) {
    width: 106px;
    padding-bottom: 20px;
    text-align: right;
  }
}

.kcal {
  width: 58px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 8px;

  @media screen and (min-width: 768px) {
    width: 106px;
    padding-bottom: 20px;
    text-align: right;
  }
}

.kcalText {
  font-size: 10px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.deleteButton {
  background-image: url(../../../images/deleteBtn.svg);
  border: none;
  width: 10px;
  height: 10px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 5;
  @media screen and (min-width: 768px) {
    width: 12px;
    height: 12px;
  }
}
