.section {
  display: flex;
  z-index: 10;
  flex-direction: column;

  @media screen and (min-width: 1280px) {
    flex-direction: row;
  }
}

.calendar {
  padding-top: 80px;

  @media screen and (min-width: 768px) {
    padding-top: 180px;
    padding-left: 32px;
    padding-bottom: 42px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 293px;
    padding-right: 124px;
    padding-left: 16px;
  }
}
