.section {
  z-index: 10;
  min-height: 100vh;
}

.calculator__container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 320px;

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    flex-direction: row;
  }
}

.calendar {
  padding-top: 80px;
  width: 100%;

  @media screen and (min-width: 768px) {
    padding-top: 180px;
    padding-left: 32px;
    padding-bottom: 42px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 293px;
    padding-right: 124px;
    padding-left: 16px;
  }
}
