.diary__section {
    width: 763px;
    padding-top: 293px;
    padding-bottom: 111px;
    font-family: 'Verdana';
    font-weight: 700;
  }
  
  .diary__title {
    width: 608px;
    font-size: 34px;
    line-height: calc(41 / 34);
    margin-bottom: 68px;
    color: #212121;
  }
  
  .diary__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 60px 30px;
    height: 180px;
    width: 510px;
    margin-bottom: 80px;
  }
  
  .diary__label {
    position: relative;
    display: flex;
    width: 240px;
    max-height: 18px;
    font-size: 14px;
    line-height: calc(17 / 14);
    letter-spacing: 0.04em;
    color: #9b9faa;
    &::after {
      content: '';
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 240px;
      border-bottom: 1px solid currentColor;
    }
  }
  
  .diary__input {
    display: block;
    margin-left: 15px;
    width: 75px;
    border-width: 0;
    outline-width: 0.5px;
    outline-color: #9b9faa;
    font-family: 'Verdana';
    font-weight: 700;
    font-size: 14px;
    line-height: calc(17 / 14);
    letter-spacing: 0.04em;
    color: #9b9faa;
  }
  
  .diary__button {
    margin-left: 339px;
  }
  