.searchArea {
  overflow: scroll;
  position: absolute;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  top: 50px;
  left: -40px;
  width: 300px;
  height: 400px;
  background-color: #fc832d67;
  gap: 3px;
  z-index: 10000;

  @media screen and (min-width: 450px) {
    left: -120px;
    width: 440px;
  }

  @media screen and (min-width: 768px) {
    left: 0;
    align-items: center;
    width: 450px;
    height: 400px;
  }
}

.btnAdd {
  background-color: #ffffff;
  border: none;

  @media screen and (min-width: 768px) {
    background-color: #fa9f5e;
    display: block;
    border: none;
    width: 100%;
  }
}
