.box {
  @media screen and (max-width: 768px) {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }
}

.container {
  position: relative;

  @media screen and (min-width: 320px) {
    z-index: 999;
  }
}

.title__container {
  @media screen and (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.title {
  margin-bottom: 60px;
  color: #ff6a00;
  text-transform: uppercase;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.04em;

  font-family: 'Gotham Pro';
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  color: #9b9faa;
  font-family: 'Verdana', sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
}

.input {
  border: none;
  border-bottom: 1px solid #e0e0e0;
  width: 280px;
  font-family: 'Verdana', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;

  color: #000000b0;
  outline: transparent;
  @media screen and (min-width: 768px) {
    width: 240px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: none;
  }
}

.item + .item {
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    margin-left: 32px;
    margin-top: 0;
  }
}

.error__message {
  width: 100%;
  font-weight: normal;
  color: #ff6a00;
}
