.calendar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 20px;

  @media screen and (min-width: 768px) {
      padding-left: 0;
    }
}

.dateInput {
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  padding: 0;
  margin-right: 20px;
  width: 90px;
  color: #212121;

  @media screen and (min-width: 768px) {
      font-size: 34px;
      width: 170px;
    }

    &:focus {
      outline: none;
    }
}

.calendarBtn {
  background-image: url(../../../images/calendar.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
