.calendar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.dateInput {
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  padding: 0;
  width: 116px;
  color: #212121;

  @media screen and (min-width: 768px) {
    font-size: 34px;
    width: 219px;
  }
}

.calendarBtn {
  background-image: url(../../../images/calendar.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
